modules = ["nodejs-20", "web"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
expertMode = true
stack = "FULLSTACK_JS"

[userenv]

[userenv.shared]
ADMARK_API_KEY = "f14bbabd-3245-44e3-ad2a-0ef632747400"
ADMARK_PHONE_NUMBER_ID = "1103117459561700"
MONGODB_URI = "mongodb://admin:FishTokri%40132231@187.127.174.48:27017/?authSource=admin"
RAZORPAY_KEY_ID = "rzp_live_T50Ny5Ok8wBo6y"
RAZORPAY_KEY_SECRET = "AWBbIhzhOj218hqVpP3taBkH"
RAZORPAY_WEBHOOK_SECRET = "YSM62QGp_kyqNd2"
SESSION_SECRET = "4ht7xAFRChv4cXoq7wxN95DCONA9VrRalzJjMP7QlxcIp4QjKhHl2aC4snWbF5EwL7EKkOSSmyT7NEEEtsQn7Q=="
VITE_GOOGLE_MAPS_API_KEY = "AIzaSyDe3GaC52SlaWDAFgFgod6Pwa1xZ0Lfw9o"
VITE_RAZORPAY_KEY_ID = "rzp_live_T50Ny5Ok8wBo6y"
